/* ALL */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;  
    padding-left: 75px;
}
#city, .div2pic, li, h2{
    font-weight: 600;
}
#prix1, .div1pic, #h1Text, input, textarea, .description, input, #message{
    font-weight: 400;
}
#adress, #headDescription, #prix2{
    font-weight: 700
}
.description, li, h1, #city, #headDescription, .conditions{
    color: #002A5C;
}
/* Header */
    /* Display */
header{
    display: flex;
}
.head{
    display: inline-block;
}
#head1{
    width: 35%;
}
#head2{
    width: 64%;
}
    /*head1 Content*/
#logo{
    width: 12rem;
    margin-top: 25px;
}
#city{
    font-size: 48px;
    margin: 100px 0 0px 0;
}
#adressContent{
    background-color: #fff6f7;;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    margin-bottom: 80px;
    width: max-content;
}
#svgMap{
    width: 15px;
    margin-right: 5px;
}
#adress{
    font-size: 16px;
    color: #d51125;
    margin: 0;
}
#headDescription{
    font-size: 32px;
    letter-spacing: -1.5px;;
    margin-bottom: 20px;
}
#prix{
    background-color: #d51125;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px;
    width: 250px;
    height: 80px;
    margin-bottom: 20px;
}
#prix1{
    font-size: 11px;
    margin-bottom: -2px;
}
#prix2{
    font-size: 38px;
}

/*head2 Content*/
.containerPic1{
    z-index: 1;
    resize: both;
    width: 100%;
    height: 100%;
    padding: 250px;
    background-image: url(pictures/perspective.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.div1pic{
    background-color: #d51125;
    color: white;
    display: inline;
    position: relative;
    padding: 8px 20px;
    top: -220px;
    left: 400px;
    box-shadow: 0.5px 0.5px 1px rgb(29, 29, 29);
    font-size: 14px;
}
.div2pic{
    background-color:#145a97;
    color: white;
    display: inline-flex;
    position: relative;
    padding: 10px 10px;
    top: 230px;
    right: 230px;
    box-shadow: 0.5px 0.5px 1px rgb(29, 29, 29);
    font-size: 18px; 
}
#svgTimer{
    width: 20px;
    margin-right: 3px;
}
#textBluePic{
    margin: 0;
}

/* MAIN */
main{
    display: flex;
    flex-wrap: wrap;
}
    /* Section */
#section1{
    display: block;
    width: 70%;
}
#h1Div{
    margin-top: 100px;
    width: 75%;
}
#h1Text{
    font-size: 36px;
}
#list, .description{
    margin-top: 50px;
}
li{
    list-style: none;
    font-size: 22px;
}
.listIcon{
    width:16px;
    margin-right: 10px;
}
.description{
    margin-right: 200px;
    text-align: left;
    font-size: 22px;
}
    /* FORM */
aside{
display: block;
width: 30%;
}
form{
    position: relative;
    top: -120px;
    background-color:#145a97;
    color: white;
    margin-right: 60px !important;
    box-shadow: -1px 3px 10px rgb(112, 111, 111);
    text-align: center;
    padding: 25px
}
h2{
    font-size: 28px;
    margin-bottom: 25px;
}
.radioBtn{
    margin: 10px;
}
#gender1, #gender2, #choice1, #choice2{
    margin-left: 15px;
    font-size: 16px;
}
input, textarea, #message{ 
    padding-left: 15px;
}
#message{
    height: 80px;
    font-size: 16px;
    margin: 15px auto;
    padding-top: 10px;
}
#name, #firstname, #email, #telephone, #postCode{
    height: 40px;
    margin: 15px auto;
    font-size: 16px;
}
#name, #firstname, #email, #message{
    width: 80%;  
}
#telephone, #postCode{
    width: 38%;
}
#telephone{
    margin-right: 10px;
}
input::placeholder, textarea::placeholder{
    color: #145a97;
}

/* CHECK ALSO */

#confirm{ 
    display: flex;
    width: 80%;
    margin: 15px auto;
}
#confirmCheckbox{
    margin: 0 10px 35px 0;
}
.textConfirm{
    text-align:left;
} 
.textConfirm, .textSubmit{
    font-size: 10px;
}
#submitBtn{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 50px;
    margin: 20px auto;
    background-color: #d51125;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
}
#svgArrow{
    width: 35px;
    margin: auto;
}
#submitBtn > p{
    margin: auto;
}
.textSubmit{ 
    margin: -5px 120px 0 0px;
}
    /* Picture 2 */
#divPicture2{
    width: 90%;
    height: 100%;
    margin: 50px 0 110px 0;
}
#picture2{
    width: 50vw;
    object-fit: cover;
    object-position: center;
    box-shadow: #002A5C 25px 25px;
}
/* Footer */
.conditions{
    margin: 0 200px 50px 0;
    font-size: 12px;
    text-align: left;
}