/* ALL */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;  
    padding-left: 75px;
}
#city, .div2pic, li, h2{
    font-weight: 600;
}
#prix1, .div1pic, #h1Text, input, textarea, .description, input{
    font-weight: 400;
}
#message{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
#adress, #headDescription, #prix2{
    font-weight: 700
}
.description, li, h1, #city, #headDescription, .conditions{
    color: #002A5C;
}
/* Header */
    /* Display */
header{
    display: flex;
}
#head1{
    width: 35%;
}
#head2{
    width: 65%;
}
    /*head1 Content*/
#logo{
    width: 12rem;
    margin-top: 1.5rem;
}
#city{
    font-size: 48px;
    margin: 100px 0 0px 0;
}
#adressContent{
    background-color: #fff6f7;;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    margin-bottom: 80px;
    width: max-content;
}
#svgMap{
    width: 15px;
    margin-right: 5px;
}
#adress{
    font-size: 16px;
    color: #d51125;
    margin: 0;
}
#headDescription{
    font-size: 32px;
    letter-spacing: -1.5px;;
    margin-bottom: 20px;
}
#prix{
    background-color: #d51125;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    width: 250px;
    height: 80px;
    margin-bottom: 20px;
}
#prix1{
    font-size: 11px;
    margin-bottom: -8px;
}
#prix2{
    font-size: 38px;
}
#prix3{
    font-size: 30px;
}
/*head2 Content*/
.containerPic1{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(pictures/perspective.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.div1pic{
    background-color: #d51125;
    color: white;
    display: inline;
    position: absolute;
    padding: 8px 20px;
    top: 20px;
    right: 120px;
    box-shadow: 0.5px 0.5px 1px rgb(29, 29, 29);
    font-size: 14px;
}
.div2pic{
    background-color:#145a97;
    color: white;
    display: inline-flex;
    position: absolute;
    padding: 10px 10px;
    bottom: 20px;
    left: 20px;
    box-shadow: 0.5px 0.5px 1px rgb(29, 29, 29);
    font-size: 18px; 
}
#svgTimer{
    width: 20px;
    margin-right: 3px;
}
#textBluePic{
    margin: 0;
}

/* MAIN */
main{
    display: flex;
    flex-wrap: wrap;
}
    /* Section */
#section1{
    width: 65%;
}
#h1Div{
    margin-top: 100px;
    width: 75%;
}
#h1Text{
    font-size: 36px;
}
#list, .description{
    margin-top: 50px;
}
li{
    list-style: none;
    font-size: 22px;
}
.listIcon{
    width:16px;
    margin-right: 10px;
}
.description{
    margin-right: 200px;
    text-align: left;
    font-size: 22px;
}
    /* FORM */
aside{
    width: 35%;
}
form{
    position: relative;
    top: -120px;
    background-color: #145a97;
    color: white;
    margin-right: 70px !important;
    box-shadow: -1px 3px 10px rgb(112, 111, 111);
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
h2{
    font-size: 28px;
    margin-bottom: 25px;
}
.radioBtn{
    margin: 10px;
}
#gender1, #gender2, #choice1, #choice2{
    margin-left: 15px;
    margin-right: 5px;
    font-size: 16px;
}
input, textarea, #message{ 
    padding-left: 15px;
}
#message{
    font-size: 16px;
    margin: 15px 0;
    padding-top: 10px;
}
#name, #firstname, #email, #telephone, #postCode, #message{
    height: 40px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
}
#halfInputs{
    display:flex;
}
#telephone, #postCode{
    width: 50%;
}
#telephone{
    margin-right: 16px;
}
input::placeholder, textarea::placeholder{
    color: #145a97;
}
#confirm{ 
    display: flex;
    margin: 15px auto;
}
#confirmCheckbox{
    margin: 4px 10px 35px 0;
}
.textConfirm{
    text-align:left;
} 
.textConfirm, .textSubmit{
    font-size: 10px;
}
#submitBtn{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #d51125;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
}
#svgArrow{
    width: 35px;
    margin-left: 10px;
}
#submitBtn > p{
    margin: auto;
    white-space: nowrap;
}
.textSubmit{ 
    margin: 15px 200px 0 0px;
}

/* This doesn't work on Firefox */
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -1fpx;
    left: -1px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
}
input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: #d51125;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;   
    border-radius: 50%;
}
    /* Picture 2 */
#divPicture2{
    width: 90%;
    height: 100%;
    margin: 50px 0 110px 0;
}
#picture2{
    width: 50vw;
    object-fit: cover;
    object-position: center;
    box-shadow: #002A5C 25px 25px;
}
/* Footer */
.conditions{
    margin: 0 200px 50px 0;
    font-size: 12px;
    text-align: left;
}


/*    MEDIA QUERIES    */

@media (min-width:1281px) and (max-width:1440px) {
    form{
        padding: 40px;
    }
    .radioBtn{
        display: flex;
        margin: 10px 0;
    }
    .textSubmit{
        margin: 7px 150px 0 0px;
    }
}




/*   TABLET   */
@media (min-width:768px) and (max-width:1280px) {
    /* Content */
    body{
        padding: 30px 0 50px 0;
    }
    header{
        flex-flow: column wrap;
        align-items: center;       
    }
    #head1{
        display: flex;
        flex-direction: column;
    }
    #head2{
        margin-bottom: 25px;
    }
    #head1, #head2{
        width: 90%;
    }
    /* Header */
        /*Head1 */
    .topContainer{
        display: flex;
        justify-content: space-between;
    }
    .top{
        margin-top: 100px;
        width: max-content;
    }
    #logo{
        width: 16rem;
        margin: auto;
    }
    #city{
        font-size: 34px;
        font-weight: 700;
        margin: 0;
    }
    #svgMap{
        width: 14px;
    }
    #adress{
        font-size: 14px;
    }
    #headDescription{
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    #prix{
        width: 200px;
        height: 80px;
        margin-bottom: 20px;
        padding: 5px 20px;
    }
    #prix1{
        font-size: 11px;
    }
    #prix2{
        font-size: 28px;
    }
    #prix3{
        font-size: 20px;
    }
        /* Head2 */
    .containerPic1{
        width: 90vw;
        height:60vh;
        background-position: bottom;
    }
    .div1pic{
        top: 20px;
        right: 20px;
    }
    #svgTimer {
        width: 15px;
        margin-right: 5px;
    }
    /* Main */
        /* display */
    main{
        display: flex;
        flex-wrap: wrap;
    }
    #section1, aside{
        flex: 100%;
    }
    #section1{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
        /* Section1 */
    #h1Div{
        letter-spacing: -2px;
        margin-bottom: 30px;
    }
    #list{
        margin: 50px;
    }
    .description{
        margin: 20px auto;
        width: 80%;
    }
    /* FORM */
    aside{
        padding-top: 30px;
        order: 3; 
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
    }
    form{
        margin-top: 200px;
        width: 50%;
        margin-right: 0 !important;
    }
    /* Picture 2 & footer*/
    #divPicture2{
        display: flex;
        width: 100%;
    }
    #picture2{
        margin: auto;
    }
    footer, #picture2{
        width: 80%;   
    }
    .conditions{       
        text-align: none;
        margin: auto;
    }
}




@media (min-width:320px) and (max-width:790px) {
    /* Display */
    body{
        padding: 30px 0 50px 0;
    }
    header{
        flex-flow: column wrap;
        align-items: center;       
    }
    #head1{
        display: flex;
        flex-direction: column;
    }
    #head2{
        margin-bottom: 10px;
    }
    #head1, #head2{
        width: 90%;
    }
    .topContainer{
        display: flex;
        justify-content: space-around; 
        margin-top: 70px;
    }
    .top{
        width: max-content;
    }
    /* Header */
        /*Head1 */
    #logo{
        width: 14rem;
        margin: auto;
    }
    #city{
        font-size: 28px;
        font-weight: 700;
        margin-top: 0;
    }
    #svgMap{
        width: 10px;
    }
    #adress{
        font-size: 12px;
    }
    #adressContent{
        margin-bottom: 30px;
    }
    #headDescription{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    #prix{
        width: 160px;
        height: 60px;
        margin-bottom: 20px;
        padding: 15px 15px;
    }
    #prix1{
        font-size: 11px;
    }
    #prix2{
        font-size: 22px;
    }
    #prix3{
        font-size: 18px;
    }
        /* Head2 */
    .containerPic1{
        width: 90vw;
        height:30vh;
        background-position: bottom;
    }
    #svgTimer {
        width: 15px;
        margin-right: 5px;
    }
    .div1pic{
        padding: 6px 10px;
        top: 10px;
        right: 20px;
        font-size: 12px;
    }
    .div2pic{
        padding: 6px 10px;
        bottom: 10px;
        left: 10px;
        font-size: 12px; 
    }
    /* Main */
        /* display */
    #section1, aside{
        flex: 100%;
    }
    #section1{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
        /* Section1 */
    #h1Text {
        font-size: 32px;
    }
    #h1Div{
        margin-top: 50px;
        letter-spacing: -2px;
        margin-bottom: 20px;
    }
    #list{
        margin: 20px;
    }
    li{
        font-size: 18px;
    }
    .description{
        margin: 20px auto;
        width: 80%;
        font-size: 20px;
    }
    /* FORM */
    aside{
        padding-top: 20px;
        order: 3; 
        display: flex;
        justify-content: center;
    }
    form{
        margin-top: 200px;
        width: 90%;
        padding: 20px;
        margin-right: 0 !important;
    }
    #name, #firstname, #telephone, #postCode, #email{       
        width: 100%;
    }
    #halfInputs{
        flex-direction: column;
    }
    /* Picture 2 & footer*/
    #divPicture2{
        display: flex;
        width: 100%;
    }
    #picture2{
        margin: auto;
        box-shadow: #002A5C 5px 12px;
        margin: 30px auto 30px auto;
        width: 90%;
    }
    footer{
        width: 80%;   
    }
    .conditions{       
        text-align: none;
        margin: auto;
        margin-top: -50px;
    }
}

/* Test */


/* input[type='checkbox']:after {
    width: 11px;
    height: 11px;
    top: -2px;
    left: 0px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
}
input[type='checkbox']:checked:after {
    width: 13px;
    height: 13px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: #e02121;
    background-clip: initial;
    content: '';
    display: inline-block;
    visibility: visible;
}*/