/* ALL */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;  
    padding-left: 75px;
}
#city, .div2pic, li{
    font-weight: 600;
}
#prix1, .div1pic, #h1Text, input, textarea, .description{
    font-weight: 400;
}
#adress, #headDescription, #prix2{
    font-weight: 700
}
/* write here the font-weight */
.description, li, h1, #city, #headDescription, .conditions{
    color: #002A5C;
}
/* Header */
    /* Display */
.head{
    display: inline-block;
}
#head1{
    background-color: #8395a7;
    width: 35%;
}
#head2{
    width: 65%;
}
    /*head1 Content*/
#logo{
    width: 12rem;
    margin-top: 25px;
}
#city{
    font-size: 48px;
    margin: 100px 0 0px 0;
}
#adressContent{
    background-color: #fff6f7;;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    margin-bottom: 80px;
    width: fit-content;
}
#svgMap{
    width: 15px;
    margin-right: 5px;
}
#adress{
    font-size: 16px;
    color: #d51125;
    margin: 0;
}
#headDescription{
    font-size: 32px;
    letter-spacing: -1.5px;;
    margin-bottom: 20px;
}
#prix{
    background-color: #d51125;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px;
    width: 250px;
    height: 80px;}
#prix1{
    font-size: 11px;
    margin-bottom: -2px;
}
#prix2{
    font-size: 38px;
}

/*head2 Content*/
/* may cause problems */

/* #head2{
    overflow: hidden;
} */
#picHeader{
    top: 0;
    right: 0;
    position: absolute;
    width: 60%;
    /* width: 900px; */
}
.div1pic{
    background-color: #d51125;
    color: white;
    display: inline;
    position: relative;
    padding: 8px 20px;
    top: -500px;
    left: 1000px;
    box-shadow: 0.5px 0.5px 1px rgb(29, 29, 29);
    font-size: 14px;
}
.div2pic{
    background-color:#145a97;
    color: white;
    display: inline-flex;
    position: relative;
    padding: 10px 10px;
    top: -150px;
    right: -300px;
    box-shadow: 0.5px 0.5px 1px rgb(29, 29, 29);
    font-size: 18px; 
}
#svgTimer{
    width: 20px;
    margin-right: 3px;
}
#textBluePic{
    margin: 0;
}

/* MAIN */
main{
    display: flex;
    flex-wrap: wrap;
}
    /* Section */
#section1{
    display: block;
    width: 70%;
}
#h1Div{
    margin-top: 100px;
    width: 75%;
}
#h1Text{
    font-size: 36px;
}
#list, .description{
    margin-top: 50px;
}
li{
    list-style: none;
}
.listIcon{
    width:16px;
    margin: 0 10px 5px 0;
}
.description{
    margin-right: 70px;
}
    /* FORM */
aside{
display: block;
width: 30%;
}
form{
    position: relative;
    top: -100px;
    background-color:#145a97;
    color: white;
    margin-right: 60px !important;
    box-shadow: -1px 3px 10px rgb(112, 111, 111);
    text-align: center;
}

/* CHECK IT */
/* h2{
    font-size: 28px;
    margin-top: 20px;
    font-weight: 600;
} */
/* #message{
    width: 80%;
    height: 80px;
} */
/* __________  */
p.radioBtn{
    margin: 10px;
}
#name, #firstname, #email, #telephone, #postCode, #message{
    height: 40px;
    margin: 15px auto;
}
#name, #firstname, #email{
    width: 80%;  
}
#telephone, #postCode{
    width: 40%;
}
input::placeholder, textarea::placeholder{
    color: #145a97;
}

/* .radioBtn{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
  } */

/* CHECK ALSO */

#checkbox{ 
    display: flex;
    width: 80%;
    margin: 15px auto;
  }
  input, textarea{ 
    padding-left: 10px;
  }
  .textConfirm, .textSubmit{
    font-size: 10px;
  }
  #contentSubmit{
    margin-bottom: 20px;
  }
  #containerSubmit{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 50px;
    margin: auto;
    background-color: #d51125;
    font-size: 18px;
  }
  #submitBtn{
    border: none;
    margin-right: 20px;
    text-transform: uppercase;
    background: none;
    color: white;
    font-size: 18px;
  }
  #svgArrow{
    width: 40px;
    margin-right: 30px;
  }
  .textSubmit{ 
    margin: 10px 200px 0 0px
  }
  .textConfirm{
    text-align:left;
  }
  #confirm{
    margin: 4px;
  }

/* CHECK */

    /* Picture 2 */
#divPicture2{
    width: 90%;
    height: 100%;
    margin: 50px 0 110px 0;
}
#picture2{
    width: 50vw;
    object-fit: cover;
    object-position: center;
    box-shadow: #002A5C 25px 25px;
}
/* Footer */
.conditions{
    margin-bottom: 5%;
    font-size: 12px;
}